.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: europa;
  color: #333;
  font-size: 13px;
  line-height: 1.3;
}

.timeline-month {
  margin-bottom: 7px;
  font-family: Exo, sans-serif;
  color: #c00f0f;
  font-size: 2em;
  font-weight: 700;
}

.timeline-month.left {
  position: relative;
  z-index: 1;
  width: 210px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-top: 5px solid #7e7e7e;
  border-radius: 0px;
  font-family: Lato, sans-serif;
  color: #7e7e7e;
  font-weight: 900;
}

.timeline-month.left.long {
  width: 280px;
}

.timeline-month.right {
  width: 210px;
  border-top: 5px solid #00794c;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

.timeline-month.right {
  color: #00794c;
}

.footer-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 11px;
  padding: 13px 17px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 325ms ease-out;
  transition: -webkit-transform 325ms ease-out;
  transition: transform 325ms ease-out;
  transition: transform 325ms ease-out, -webkit-transform 325ms ease-out;
  color: #061c2e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.footer-button:active {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.footer-button.socials {
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 230px;
  background-color: transparent;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding-right: 30px;
  padding-left: 30px;
}

.container.flex-verticle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fireworks {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100vh;
}

.fireworks._2 {
  display: none;
}

.bigger-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.relative {
  position: relative;
  width: 100%;
}

.jumbo-text {
  position: relative;
  z-index: 1;
  margin-right: 2vw;
  margin-left: 2vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0.3;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 7vw;
  line-height: 1.2;
  font-weight: 900;
}

.timeline-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  border-radius: 0px;
  color: #000;
  text-align: right;
}

.timeline-item.right {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  border-radius: 0px;
  color: #000;
}

.timeline-item.left {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  text-align: left;
}

.timeline-item._2 {
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.timeline-item.left-2 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.timeline-item.left {
  position: relative;
  overflow: visible;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-style: none;
}

.timeline-item.left {
  z-index: 50;
}

.text-center {
  text-align: center;
}

.text-center.relative {
  position: relative;
  width: auto;
  height: 1px;
  cursor: pointer;
}

.timeline-content-wrapper {
  display: -ms-grid;
  display: grid;
  width: 50%;
  height: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0vh;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.timeline-text {
  max-width: 380px;
  margin-left: 95px;
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  text-align: left;
}

.timeline-text.left {
  position: relative;
  z-index: 1;
  margin-right: 86px;
  margin-left: auto;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-align: right;
}

.timeline-text.right {
  margin-left: 86px;
  text-align: left;
}

.thumb-thumb {
  width: 100%;
  height: 2%;
  border-style: solid;
  border-width: 1px;
  border-color: #00558c;
  border-radius: 1000px;
  background-color: #00558c;
  mix-blend-mode: normal;
}

.new-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
}

.new-section.full {
  overflow: hidden;
  height: 100vh;
  min-height: 900px;
  background-color: #062748;
}

.new-section.full._2 {
  z-index: 11;
  height: auto;
  min-height: auto;
  background-color: transparent;
}

.text-6em {
  position: relative;
  margin: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 6em;
  line-height: 0.9;
  font-weight: 400;
  text-transform: none;
}

.dot-nuke {
  position: absolute;
  left: -16.5px;
  top: -4.3%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 20px;
  background-color: #00794c;
  opacity: 1;
}

.bigger-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: none;
}

.timeline-track {
  position: relative;
  bottom: 57px;
  z-index: 5;
  display: block;
  width: 10px;
  height: 2850px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 3px none transparent;
  border-radius: 0px;
  background-color: rgba(192, 15, 15, 0.6);
}

.timeline-track._2 {
  bottom: 102px;
  height: 2800px;
  background-color: rgba(0, 85, 140, 0.6);
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.menu-link-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  max-width: 1000px;
  margin-top: 151px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr -webkit-max-content 1fr;
  -ms-grid-columns: 1fr max-content 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.page-wrapper {
  display: none;
  width: 750px;
}

.image-divider {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  max-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/GettyImages-1192409094.jpg');
  background-position: 50% 30%;
  background-size: cover;
}

.image-right {
  position: relative;
  left: auto;
  top: auto;
  z-index: 0;
  overflow: hidden;
  width: 250px;
  height: 150px;
  margin-top: 9px;
  margin-right: 86px;
  margin-left: 31px;
  padding-bottom: 0px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid {
  width: 100%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.dot-pol {
  position: absolute;
  left: auto;
  top: -4%;
  right: -3.5%;
  bottom: auto;
  z-index: 90;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #fffdfd;
  border-radius: 20px;
  background-color: #7e7e7e;
  opacity: 1;
}

.dot-pol._1 {
  position: absolute;
  left: auto;
  top: -4%;
  right: -4%;
  bottom: auto;
  background-color: #7e7e7e;
  mix-blend-mode: luminosity;
}

.frosty {
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.heading-4 {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 86px;
  padding-left: 0px;
  border-right: 1px none #fff;
  border-left: 1px none #fff;
  font-family: Lato, sans-serif;
  color: #7e7e7e;
  font-size: 25px;
  text-align: right;
}

.heading-5 {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0px;
  padding-left: 86px;
  border-right: 1px none #fff;
  border-left: 1px none #fff;
  font-family: Lato, sans-serif;
  color: #00c57d;
  font-size: 25px;
  text-align: left;
}

.section {
  height: 100vw;
}

.text-block {
  position: relative;
  left: 505px;
  top: 29%;
  right: 0%;
  bottom: 0%;
  width: 500px;
  height: 500px;
  font-family: Inconsolata, monospace;
  font-size: 50px;
  text-align: center;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.textbox-administration {
  display: inline;
  font-family: Lato, sans-serif;
  color: rgba(192, 15, 15, 0.77);
  font-size: 20px;
  font-weight: 900;
}

.textbox-administration.blue {
  color: #00558c;
}

.trump-admin-box {
  position: relative;
  top: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.line-div-top {
  position: relative;
  width: 80px;
  height: 20px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #00558c #00558c #c00f0f #c00f0f;
}

.line-div-top.blue {
  border-bottom-color: #00558c;
}

.line-div-bottom {
  position: relative;
  width: 80px;
  height: 20px;
  border-top: 1px solid #c00f0f;
}

.line-div-bottom.blue {
  border-style: solid none none;
  border-width: 1px;
  border-color: #00558c;
}

@media screen and (min-width: 1440px) {
  .thumb-thumb {
    border-style: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgba(0, 85, 140, 0.74);
  }

  .timeline-track {
    width: 15px;
    border-style: none;
    border-radius: 0px;
  }

  .dot-pol {
    right: -4%;
  }

  .dot-pol._1 {
    mix-blend-mode: normal;
  }

  .heading-4 {
    border-right-style: none;
  }

  .heading-5 {
    border-left-style: none;
  }
}

@media screen and (max-width: 991px) {
  .timeline-month.left {
    left: -5px;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    width: auto;
    padding-top: 8px;
    padding-right: 39px;
    border-top-width: 2px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
  }

  .timeline-month.left.long {
    bottom: 6px;
    width: 190px;
    padding-right: 20px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
  }

  .timeline-month.left.long._1 {
    padding-right: 28px;
  }

  .timeline-month.left.large-2x {
    left: -109px;
    bottom: -51px;
    padding-top: 0px;
    padding-right: 0px;
    border-top-style: none;
    background-color: #fff;
  }

  .timeline-month.right {
    position: relative;
    left: 5px;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    width: auto;
    margin-bottom: 13px;
    padding-top: 8px;
    padding-left: 39px;
    border-top-width: 2px;
    border-top-color: #00a72c;
    font-family: lato, sans-serif;
    color: #00a72c;
    font-size: 1.5em;
  }

  .timeline-month.right._1 {
    padding-left: 17px;
  }

  .footer-button {
    padding: 11px 14px;
  }

  .footer-button.socials {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }

  .container.flex-verticle {
    position: relative;
    height: auto;
  }

  .bigger-text-wrapper {
    position: relative;
    top: -241px;
    border-radius: 20px;
    -webkit-backdrop-filter: saturate(200%) blur(25px);
    backdrop-filter: saturate(200%) blur(25px);
  }

  .jumbo-text {
    top: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    border: 0px solid #000;
    border-radius: 20px;
    opacity: 0.86;
    font-size: 35px;
    font-weight: 700;
  }

  .timeline-item {
    height: 110px;
    padding-bottom: 0px;
  }

  .timeline-item.right {
    height: 110px;
  }

  .timeline-item.right._250h {
    height: 140px;
  }

  .timeline-item.right._150h {
    height: 150px;
  }

  .timeline-item.left-2 {
    height: 110px;
  }

  .timeline-item.left {
    height: 110px;
  }

  .timeline-item.left._150 {
    height: 115px;
  }

  .timeline-item.left._8 {
    height: 250px;
  }

  .timeline-item.left.large-2x {
    left: 160px;
    height: 520px;
  }

  .timeline-item.large {
    height: 280px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .timeline-item.large.semi._1 {
    height: 380px;
  }

  .timeline-item.large._350h {
    height: 390px;
  }

  .timeline-item.large-2x {
    height: 520px;
    padding-left: 0px;
  }

  .timeline-item._200h {
    height: 220px;
  }

  .timeline-item._120 {
    height: 115px;
  }

  .timeline-item._180h {
    height: 180px;
  }

  .timeline-item._1 {
    height: 110px;
  }

  .timeline-item._14 {
    height: 200px;
  }

  .text-center.relative {
    top: auto;
    height: 150px;
  }

  .timeline-content-wrapper {
    grid-auto-flow: column;
    grid-row-gap: 0px;
    grid-template-areas: ".";
  }

  .timeline-text {
    margin-left: 33px;
    padding-bottom: 0px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    font-weight: 500;
  }

  .timeline-text.left {
    margin-right: 44px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    font-weight: 500;
  }

  .timeline-text.left.large-2x {
    left: auto;
    top: -9px;
    margin-right: auto;
    padding-bottom: 43px;
    background-color: #fff;
    font-size: 1.3em;
    text-align: center;
  }

  .timeline-text.right {
    margin-left: 44px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }

  .timeline-text.small {
    font-size: 1em;
  }

  .new-section.full._2 {
    height: 74vh;
    max-height: 50vh;
    min-height: 0px;
  }

  .text-6em {
    position: static;
    top: auto;
    font-size: 4.5em;
  }

  .dot-nuke {
    left: -13px;
    top: -11.3px;
    z-index: 90;
    width: 22px;
    height: 22px;
    border-width: 2.5px;
    background-color: #00a72c;
  }

  .dot-nuke.long {
    top: -2.3%;
  }

  .dot-nuke.long._1 {
    top: -4.3%;
  }

  .dot-nuke._1 {
    top: -4.3%;
  }

  .bigger-wrapper {
    position: static;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .timeline-track {
    bottom: 48px;
    width: 4px;
    height: 1900px;
    border-radius: 20px;
    background-color: #e00014;
    font-size: 10px;
  }

  .timeline-track._2 {
    bottom: 92px;
    height: 1950px;
    background-color: #00a3f3;
  }

  .timeline-track.mini {
    left: -157px;
    bottom: 52px;
    width: 2px;
    height: 50px;
    background-color: #7e7e7e;
  }

  .timeline-wrapper {
    overflow: visible;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }

  .page-wrapper {
    display: block;
    overflow: hidden;
    width: 750px;
    height: 4200px;
    margin-top: 53px;
  }

  .image-divider {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-color: transparent;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .image-right {
    left: -6px;
    overflow: visible;
    height: 180px;
    margin-top: 6px;
    margin-right: 38px;
    border-radius: 0px;
  }

  .grid {
    width: 100%;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    border-left: 1px none #000;
  }

  .dot-pol {
    top: -11px;
    right: -13px;
    width: 22px;
    height: 22px;
    border-width: 2.5px;
  }

  .dot-pol._1 {
    top: -4%;
    right: -4.5%;
  }

  .dot-pol.large-2x {
    top: 98px;
    right: 147px;
  }

  .dot-pol.long {
    top: -6px;
  }

  .dot-pol.long._1 {
    top: -15%;
    right: -4.5%;
  }

  .dot-pol.long._1._3 {
    top: -6%;
  }

  .heading-4 {
    width: auto;
    margin-left: auto;
    padding-right: 33px;
    padding-left: 0px;
    border-left-color: transparent;
    font-family: urw-din, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }

  .heading-5 {
    margin-right: auto;
    padding-right: 0px;
    padding-left: 33px;
    border-left: 1px solid transparent;
    border-right-color: transparent;
    font-family: urw-din, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }

  .body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .text-span {
    display: block;
    padding-left: 0px;
    opacity: 1;
    font-family: Lato, sans-serif;
    color: #000;
    font-weight: 300;
    text-align: center;
  }

  .textbox-administration {
    background-color: #fff;
    font-family: urw-din, sans-serif;
    color: #e00014;
    font-size: 16px;
    font-weight: 700;
  }

  .textbox-administration.blue {
    position: relative;
    bottom: -3px;
    z-index: 50;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    padding-bottom: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #fff;
    color: #00a3f3;
    text-decoration: none;
  }

  .trump-admin-box {
    top: -29px;
  }

  .line-div-top {
    margin-bottom: 6px;
    border-top-color: #e00014;
    border-bottom-width: 2px;
    border-bottom-color: #e00014;
  }

  .line-div-top.blue {
    left: 334px;
    top: -100px;
    height: 108px;
    margin-bottom: -51px;
    border-top-style: solid;
    border-top-color: #00558c;
    border-bottom-style: none;
  }

  .line-div-top.blue._1 {
    left: -1px;
    top: -51px;
    padding-bottom: 0px;
    border-top: 2px none #c00f0f;
    border-bottom: 2px solid #00a3f3;
  }

  .line-div-bottom {
    margin-top: 6px;
    border-top-width: 2px;
    border-top-color: #e00014;
  }

  .line-div-bottom.blue {
    bottom: -3px;
    margin-top: 0px;
    border-top-width: 2px;
    border-top-color: #00a3f3;
  }

  .image {
    width: 300px;
    max-width: none;
    padding-top: 0px;
  }

  .image.large-2x {
    position: absolute;
    left: -99px;
    top: 107px;
    z-index: 3;
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .timeline-month.left {
    left: 14px;
    padding-right: 15px;
    font-size: 1.2em;
  }

  .timeline-month.left.long {
    left: 11px;
    width: 120px;
    padding-right: 0px;
  }

  .timeline-month.left.large-2x {
    left: -102px;
    top: -4px;
    bottom: 0px;
  }

  .timeline-month.right {
    left: -15px;
    width: auto;
    padding-left: 0px;
    font-size: 1.2em;
  }

  .timeline-month.right._1 {
    padding-left: 0px;
  }

  .timeline-month.right {
    padding-left: 15px;
  }

  .timeline-item {
    height: 130px;
  }

  .timeline-item.right {
    height: 130px;
  }

  .timeline-item.right._250h {
    height: 90px;
  }

  .timeline-item.left-2 {
    height: 70px;
  }

  .timeline-item.left.large.semi {
    height: 200px;
  }

  .timeline-item.left._150 {
    height: 230px;
  }

  .timeline-item.left.large-2x {
    height: 380px;
  }

  .timeline-item.large.semi {
    width: 100%;
    height: 220px;
  }

  .timeline-item.large.semi._1 {
    height: 305px;
  }

  .timeline-item.large._350h {
    height: 350px;
  }

  .timeline-item.large-2x {
    height: 500px;
  }

  .timeline-item._200h {
    height: 225px;
  }

  .timeline-item._180h {
    height: 200px;
  }

  .timeline-item._1 {
    height: 95px;
  }

  .timeline-item._3 {
    height: 110px;
  }

  .timeline-item._4 {
    height: 120px;
  }

  .timeline-item._14 {
    height: 230px;
  }

  .timeline-content-wrapper {
    width: 45%;
    font-size: 12px;
  }

  .timeline-text {
    margin-left: auto;
    font-size: 0.8em;
  }

  .timeline-text.left {
    max-width: none;
    margin-right: 0px;
  }

  .timeline-text.left.large-2x {
    left: -36px;
    top: -12px;
  }

  .timeline-text.right {
    margin-left: 0px;
    font-size: 1em;
  }

  .dot-nuke {
    left: -34px;
  }

  .timeline-track.mini {
    left: -137px;
    bottom: 55px;
  }

  .navigation {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .page-wrapper {
    display: block;
    width: 568px;
    max-width: 568px;
    min-width: 320px;
  }

  .image-right {
    left: 19px;
    width: 170px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .grid {
    width: auto;
  }

  .dot-pol {
    right: -33px;
  }

  .dot-pol.large-2x {
    top: 85px;
    right: 127px;
  }

  .frosty {
    width: 100vw;
    margin-left: auto;
  }

  .image.large-2x {
    left: -182px;
    top: 95px;
  }
}

@media screen and (max-width: 479px) {
  .timeline-month {
    font-size: 1.7em;
  }

  .timeline-month.left {
    left: 16px;
    bottom: -1px;
    width: 90px;
    margin-bottom: 0px;
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 8px;
    font-size: 1.2em;
  }

  .timeline-month.left.long {
    left: 10px;
    bottom: -1px;
    width: auto;
    padding-right: 14px;
    padding-bottom: 12px;
    font-size: 1.2em;
  }

  .timeline-month.left.long._1 {
    bottom: 12px;
    width: 140px;
  }

  .timeline-month.left.large-2x {
    left: -99px;
    top: 103px;
    bottom: auto;
    text-align: center;
  }

  .timeline-month.left._1 {
    left: -4px;
    bottom: 14px;
  }

  .timeline-month.right {
    left: -9px;
    bottom: -1px;
    width: 90px;
    padding-left: 0px;
    font-size: 1.2em;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container.flex-verticle {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .bigger-text-wrapper {
    top: -141px;
  }

  .jumbo-text {
    font-size: 18px;
  }

  .timeline-item {
    height: 150px;
  }

  .timeline-item.right {
    height: 40px;
  }

  .timeline-item.right._250h {
    height: 100px;
  }

  .timeline-item.right._180h {
    height: 110px;
  }

  .timeline-item.right._150h._1 {
    height: 200px;
  }

  .timeline-item.left._10 {
    height: 40px;
  }

  .timeline-item.left._11 {
    height: 40px;
  }

  .timeline-item._2 {
    height: 40px;
  }

  .timeline-item.left-2 {
    height: 40px;
  }

  .timeline-item.left {
    height: 150px;
    padding-right: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .timeline-item.left.large.semi {
    height: 150px;
  }

  .timeline-item.left.semi-large {
    height: 200px;
  }

  .timeline-item.left._150 {
    height: 180px;
  }

  .timeline-item.left.large-2x {
    height: 400px;
  }

  .timeline-item.large {
    height: 430px;
  }

  .timeline-item.large.semi {
    height: 200px;
  }

  .timeline-item.large.semi._1 {
    height: 200px;
  }

  .timeline-item.large._350h {
    height: 270px;
  }

  .timeline-item.large-2x {
    height: 300px;
  }

  .timeline-item._200h {
    height: 290px;
  }

  .timeline-item._120 {
    width: auto;
    height: 125px;
  }

  .timeline-item._180h {
    height: 215px;
  }

  .timeline-item._180h._90 {
    height: 250px;
  }

  .timeline-item._1 {
    height: 110px;
  }

  .timeline-item._3 {
    height: 110px;
  }

  .timeline-item._4 {
    height: 135px;
  }

  .timeline-item._6 {
    height: 70px;
  }

  .timeline-item._14 {
    width: auto;
    height: 230px;
  }

  .text-center.relative {
    top: -67px;
    height: auto;
  }

  .timeline-content-wrapper {
    grid-column-gap: 8px;
    grid-row-gap: 15px;
  }

  .timeline-text {
    margin-right: -1px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 9px;
    font-size: 1em;
  }

  .timeline-text.left {
    left: -9px;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1em;
  }

  .timeline-text.left.large-2x {
    position: relative;
    left: -86px;
    top: 88px;
    z-index: 6;
    max-width: 500px;
    margin-left: 16px;
    padding: 18px 0px 50px;
    font-size: 1em;
  }

  .timeline-text.right {
    position: relative;
    left: 9px;
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1em;
  }

  .timeline-text.small {
    font-size: 1em;
  }

  .timeline-text.small.right {
    width: 110%;
    margin-right: -13px;
  }

  .timeline-text.large.right {
    margin-right: 0px;
  }

  .new-section {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  .new-section.full {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .new-section.full._2 {
    min-height: 720px;
  }

  .text-6em {
    font-size: 1em;
  }

  .dot-nuke {
    left: -24px;
    top: -9.3px;
    width: 20px;
    height: 20px;
  }

  .dot-nuke.long {
    top: -1.3%;
    width: 20px;
    height: 20px;
  }

  .dot-nuke._1 {
    left: -23px;
    top: -2.3%;
  }

  .bigger-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .timeline-track {
    bottom: 74px;
    width: 3px;
    height: 1950px;
  }

  .timeline-track._2 {
    bottom: 138px;
    height: 2000px;
  }

  .timeline-track.mini {
    left: -144.3px;
    bottom: -23px;
    z-index: 8;
    display: block;
  }

  .navigation {
    height: 40px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .menu-link-wrapper._1 {
    margin-right: 30px;
  }

  .timeline-wrapper {
    width: 93%;
  }

  .page-wrapper {
    overflow: hidden;
    width: 350px;
    height: 4300px;
    max-width: 400px;
    min-width: 320px;
  }

  .image-divider {
    height: 250px;
  }

  .image-right {
    left: 2px;
    width: 120px;
    height: auto;
    margin-right: 10px;
    margin-left: 3px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .grid {
    overflow: visible;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    font-size: 12px;
    text-align: center;
  }

  .dot-pol {
    top: -9px;
    right: -24px;
    width: 20px;
    height: 20px;
  }

  .dot-pol.large-2x {
    position: relative;
    left: -135px;
    top: 16%;
    z-index: 10;
  }

  .dot-pol.long {
    right: -21.8%;
  }

  .dot-pol.long._1 {
    top: -7%;
    right: -21.5%;
  }

  .dot-pol.long._1._3 {
    top: -5%;
    right: -19.5%;
    width: 20px;
    height: 20px;
  }

  .frosty {
    width: auto;
  }

  .heading-4 {
    position: relative;
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 27px;
    padding-left: 10px;
    direction: ltr;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .heading-5 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
  }

  .text-span {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
  }

  .textbox-administration {
    font-size: 14px;
  }

  .trump-admin-box {
    top: -55px;
  }

  .line-div-top.blue {
    left: 146px;
    top: -199px;
  }

  .line-div-top.blue._1 {
    border-top-style: none;
  }

  .image.large-2x {
    left: -168px;
    top: 217px;
    z-index: 9;
    width: 300px;
  }
}

#w-node-_23d7793e-4c72-4d24-99f4-9de4f7219781-01c6bcf3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 9;
  grid-row-start: span 9;
  -ms-grid-row-span: 9;
  grid-row-end: span 9;
}

#w-node-_23d7793e-4c72-4d24-99f4-9de4f721978e-01c6bcf3 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_9d10d80a-68c4-6bce-994d-bdfb7a871e8c-01c6bcf3 {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-b892f79a-963e-7a2a-4b8e-84f386ae7861-01c6bcf3 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f7c1b899-3ec9-fb84-e98e-a384d2bac1bd-01c6bcf3 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_9d10d80a-68c4-6bce-994d-bdfb7a871e8c-01c6bcf3 {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-b892f79a-963e-7a2a-4b8e-84f386ae7899-01c6bcf3 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_23d7793e-4c72-4d24-99f4-9de4f721974d-01c6bcf3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

