.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: europa;
  color: #333;
  font-size: 13px;
  line-height: 1.3;
}

.timeline-month {
  margin-bottom: 7px;
  font-family: Exo, sans-serif;
  color: #c00f0f;
  font-size: 2em;
  font-weight: 700;
}

.timeline-month.left {
  position: relative;
  z-index: 1;
  width: 210px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-top: 5px solid #7e7e7e;
  border-radius: 0px;
  font-family: Lato, sans-serif;
  color: #7e7e7e;
  font-weight: 900;
}

.timeline-month.left.long {
  width: 280px;
}

.timeline-month.right {
  width: 210px;
  border-top: 5px solid #00794c;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

.timeline-month.right {
  color: #00794c;
}

.footer-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 11px;
  padding: 13px 17px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 325ms ease-out;
  transition: -webkit-transform 325ms ease-out;
  transition: transform 325ms ease-out;
  transition: transform 325ms ease-out, -webkit-transform 325ms ease-out;
  color: #061c2e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.footer-button:active {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.footer-button.socials {
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 230px;
  background-color: transparent;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding-right: 30px;
  padding-left: 30px;
}

.container.flex-verticle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.relative {
  position: relative;
  width: 100%;
}

.timeline-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  border-radius: 0px;
  color: #000;
  text-align: right;
}

.timeline-item.right {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  border-radius: 0px;
  color: #000;
}

.timeline-item.left {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  text-align: left;
}

.timeline-item._2 {
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.timeline-item.left-2 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.timeline-item.left {
  position: relative;
  overflow: visible;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-style: none;
}

.timeline-item.left {
  z-index: 50;
}

.text-center {
  text-align: center;
}

.text-center.relative {
  position: relative;
  width: auto;
  height: 1px;
  cursor: pointer;
}

.timeline-content-wrapper {
  display: -ms-grid;
  display: grid;
  width: 50%;
  height: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0vh;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.timeline-text {
  max-width: 380px;
  margin-left: 95px;
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  text-align: left;
}

.timeline-text.left {
  position: relative;
  z-index: 1;
  margin-right: 86px;
  margin-left: auto;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-align: right;
}

.timeline-text.right {
  margin-left: 86px;
  text-align: left;
}

.new-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
}

.dot-nuke {
  position: absolute;
  left: -16.5px;
  top: -4.3%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 20px;
  background-color: #00794c;
  opacity: 1;
}

.timeline-track {
  position: relative;
  bottom: 57px;
  z-index: 5;
  display: block;
  width: 10px;
  height: 2850px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 3px none transparent;
  border-radius: 0px;
  background-color: rgba(192, 15, 15, 0.6);
}

.timeline-track._2 {
  bottom: 102px;
  height: 2800px;
  background-color: rgba(0, 85, 140, 0.6);
}

.menu-link-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  max-width: 1000px;
  margin-top: 151px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr -webkit-max-content 1fr;
  -ms-grid-columns: 1fr max-content 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.page-wrapper {
  display: none;
  width: 750px;
}

.image-right {
  position: relative;
  left: auto;
  top: auto;
  z-index: 0;
  overflow: hidden;
  width: 250px;
  height: 150px;
  margin-top: 9px;
  margin-right: 86px;
  margin-left: 31px;
  padding-bottom: 0px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid {
  width: 100%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.dot-pol {
  position: absolute;
  left: auto;
  top: -4%;
  right: -3.5%;
  bottom: auto;
  z-index: 90;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #fffdfd;
  border-radius: 20px;
  background-color: #7e7e7e;
  opacity: 1;
}

.heading-4 {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 86px;
  padding-left: 0px;
  border-right: 1px none #fff;
  border-left: 1px none #fff;
  font-family: Lato, sans-serif;
  color: #7e7e7e;
  font-size: 25px;
  text-align: right;
}

.heading-5 {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0px;
  padding-left: 86px;
  border-right: 1px none #fff;
  border-left: 1px none #fff;
  font-family: Lato, sans-serif;
  color: #00c57d;
  font-size: 25px;
  text-align: left;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.textbox-administration {
  display: inline;
  font-family: Lato, sans-serif;
  color: rgba(192, 15, 15, 0.77);
  font-size: 20px;
  font-weight: 900;
}

.textbox-administration.blue {
  color: #00558c;
}

.trump-admin-box {
  position: relative;
  top: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.line-div-top {
  position: relative;
  width: 80px;
  height: 20px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #00558c #00558c #c00f0f #c00f0f;
}

.line-div-top.blue {
  border-bottom-color: #00558c;
}

.line-div-bottom {
  position: relative;
  width: 80px;
  height: 20px;
  border-top: 1px solid #c00f0f;
}

.line-div-bottom.blue {
  border-style: solid none none;
  border-width: 1px;
  border-color: #00558c;
}

@media screen and (min-width: 1440px) {
  .timeline-track {
    width: 15px;
    border-style: none;
    border-radius: 0px;
  }

  .dot-pol {
    right: -4%;
  }

  .heading-4 {
    border-right-style: none;
  }

  .heading-5 {
    border-left-style: none;
  }
}

@media screen and (max-width: 991px) {
  .timeline-month.left {
    left: -5px;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    width: auto;
    padding-top: 8px;
    padding-right: 39px;
    border-top-width: 2px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
  }

  .timeline-month.left.long {
    left: -4px;
    bottom: 6px;
    width: 190px;
    padding-right: 20px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
  }

  .timeline-month.left.large-2x {
    left: 52px;
    top: 17px;
    bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    border-top-style: none;
    background-color: #fff;
  }

  .timeline-month.right {
    position: relative;
    left: 5px;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    width: auto;
    margin-bottom: 7px;
    padding-top: 8px;
    padding-left: 39px;
    border-top-width: 2px;
    border-top-color: #00a72c;
    font-family: lato, sans-serif;
    color: #00a72c;
    font-size: 1.5em;
  }

  .footer-button {
    padding: 11px 14px;
  }

  .footer-button.socials {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }

  .container.flex-verticle {
    position: relative;
    height: auto;
  }

  .timeline-item {
    height: 110px;
    padding-bottom: 0px;
  }

  .timeline-item.right {
    height: 130px;
    margin-bottom: 28px;
  }

  .timeline-item.right._2 {
    height: 160px;
  }

  .timeline-item.right._101 {
    display: none;
    height: 145px;
    margin-bottom: 45px;
  }

  .timeline-item.right._201 {
    height: 160px;
  }

  .timeline-item.right._50 {
    margin-bottom: 109px;
    padding-bottom: 0px;
  }

  .timeline-item.right._66 {
    margin-bottom: 7px;
    padding-bottom: 0px;
  }

  .timeline-item.right._60 {
    margin-bottom: -14px;
    padding-bottom: 0px;
  }

  .timeline-item.right._999 {
    display: none;
  }

  .timeline-item.right._110 {
    margin-bottom: 7px;
  }

  .timeline-item.left._10 {
    height: 115px;
  }

  .timeline-item.left._11 {
    margin-bottom: 2px;
  }

  .timeline-item.left-2 {
    height: 85px;
    margin-bottom: 7px;
    padding-bottom: 0px;
  }

  .timeline-item.left {
    height: 110px;
  }

  .timeline-item.left.large.semi {
    margin-bottom: -24px;
    padding-bottom: 0px;
  }

  .timeline-item.left._150 {
    height: 165px;
  }

  .timeline-item.left._150._1 {
    margin-bottom: -61px;
  }

  .timeline-item.left._9 {
    margin-bottom: -10px;
  }

  .timeline-item.left._8 {
    height: 250px;
  }

  .timeline-item.left._81 {
    height: 250px;
    margin-bottom: 221px;
  }

  .timeline-item.left._82 {
    height: 250px;
    margin-bottom: 24px;
  }

  .timeline-item.left._83 {
    height: 250px;
    margin-bottom: 33px;
  }

  .timeline-item.left._996 {
    margin-bottom: 75px;
  }

  .timeline-item.left.large-2x {
    left: auto;
    height: 520px;
  }

  .timeline-item.left._965 {
    height: 180px;
  }

  .timeline-item.large {
    height: 280px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .timeline-item.large.semi {
    width: 100%;
    height: 300px;
  }

  .timeline-item.large.semi._1 {
    height: 400px;
    margin-bottom: -24px;
  }

  .timeline-item.large.semi._201 {
    margin-bottom: 10px;
  }

  .timeline-item.large._350h {
    height: 485px;
  }

  .timeline-item.large._350h._1 {
    height: 380px;
    margin-bottom: -13px;
  }

  .timeline-item.large._350h._90 {
    height: 380px;
    margin-bottom: -31px;
  }

  .timeline-item.large-2x {
    height: 470px;
    padding-left: 0px;
  }

  .timeline-item._200h {
    height: 220px;
  }

  .timeline-item._120 {
    height: 115px;
  }

  .timeline-item._180h {
    height: 170px;
  }

  .timeline-item._180h._90 {
    height: 190px;
  }

  .timeline-item._180h._201 {
    margin-bottom: 31px;
  }

  .timeline-item._180h._999copy {
    height: 120px;
  }

  .timeline-item._1 {
    height: 100px;
    margin-bottom: 9px;
  }

  .timeline-item._1._10 {
    margin-bottom: 276px;
  }

  .timeline-item._3 {
    height: 120px;
  }

  .timeline-item._4 {
    height: 120px;
  }

  .timeline-item._14 {
    height: 240px;
    margin-bottom: -4px;
  }

  .text-center.relative {
    top: auto;
    height: 120px;
  }

  .timeline-content-wrapper {
    grid-auto-flow: row;
    grid-row-gap: 0px;
    grid-template-areas: ".";
  }

  .timeline-text {
    margin-left: 33px;
    padding-bottom: 0px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    font-weight: 500;
  }

  .timeline-text.left {
    margin-right: 44px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    font-weight: 500;
  }

  .timeline-text.left.large-2x {
    left: 152px;
    top: 7px;
    margin-right: auto;
    padding-bottom: 43px;
    background-color: #fff;
    font-size: 1.3em;
    text-align: center;
  }

  .timeline-text.right {
    margin-left: 44px;
    font-family: lato, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }

  .timeline-text.small {
    font-size: 1em;
  }

  .dot-nuke {
    left: -13px;
    top: -10px;
    z-index: 90;
    width: 22px;
    height: 22px;
    border-width: 2.5px;
    background-color: #00a72c;
  }

  .timeline-track {
    bottom: 48px;
    width: 4px;
    height: 2000px;
    border-radius: 20px;
    background-color: #e00014;
    font-size: 10px;
  }

  .timeline-track._2 {
    bottom: 61px;
    height: 2500px;
    background-color: #00a3f3;
  }

  .timeline-track.mini {
    left: 3px;
    bottom: 36px;
    width: 2px;
    height: 50px;
    background-color: #7e7e7e;
  }

  .timeline-wrapper {
    overflow: visible;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }

  .page-wrapper {
    display: block;
    overflow: hidden;
    width: 750px;
    height: 4800px;
    margin-top: 53px;
  }

  .image-right {
    left: -6px;
    overflow: visible;
    height: 180px;
    margin-top: 6px;
    margin-right: 38px;
    border-radius: 0px;
  }

  .grid {
    width: 100%;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    border-left: 1px none #000;
  }

  .dot-pol {
    top: -10px;
    right: -13px;
    width: 22px;
    height: 22px;
    border-width: 2.5px;
  }

  .dot-pol.large-2x {
    top: 116px;
    right: -13px;
  }

  .heading-4 {
    width: auto;
    margin-left: auto;
    padding-right: 37px;
    padding-left: 0px;
    border-left-color: transparent;
    font-family: urw-din, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    font-weight: 900;
    text-align: left;
  }

  .heading-5 {
    margin-right: auto;
    padding-right: 0px;
    padding-left: 37px;
    border-left: 1px solid transparent;
    border-right-color: transparent;
    font-family: urw-din, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }

  .body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .textbox-administration {
    background-color: #fff;
    font-family: urw-din, sans-serif;
    color: #e00014;
    font-size: 16px;
    font-weight: 700;
  }

  .textbox-administration.blue {
    position: relative;
    bottom: -3px;
    z-index: 50;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    padding-bottom: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #fff;
    color: #00a3f3;
    text-decoration: none;
  }

  .trump-admin-box {
    top: -29px;
  }

  .line-div-top {
    margin-bottom: 6px;
    border-top-color: #e00014;
    border-bottom-width: 2px;
    border-bottom-color: #e00014;
  }

  .line-div-top.blue {
    left: 334px;
    top: -100px;
    height: 108px;
    margin-bottom: -51px;
    border-top-style: solid;
    border-top-color: #00558c;
    border-bottom-style: none;
  }

  .line-div-top.blue._1 {
    left: -1px;
    top: -51px;
    padding-bottom: 0px;
    border-top: 2px none #c00f0f;
    border-bottom: 2px solid #00a3f3;
  }

  .line-div-bottom {
    margin-top: 6px;
    border-top-width: 2px;
    border-top-color: #e00014;
  }

  .line-div-bottom.blue {
    bottom: -3px;
    margin-top: 0px;
    border-top-width: 2px;
    border-top-color: #00a3f3;
  }

  .image {
    width: 300px;
    max-width: none;
    padding-top: 0px;
  }

  .image.large-2x {
    position: absolute;
    left: 60px;
    top: 127px;
    z-index: 6;
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .timeline-month.left {
    left: 17px;
    padding-right: 15px;
    font-size: 1.2em;
  }

  .timeline-month.left.long {
    left: 11px;
    width: 120px;
    padding-right: 0px;
  }

  .timeline-month.left.large-2x {
    left: 57px;
    top: -56px;
    bottom: 0px;
  }

  .timeline-month.right {
    left: -15px;
    width: auto;
    font-size: 1.2em;
  }

  .timeline-month.right {
    padding-left: 15px;
  }

  .container.flex-verticle {
    padding-top: 24px;
  }

  .timeline-item {
    height: 130px;
  }

  .timeline-item.right {
    height: 130px;
  }

  .timeline-item.right._2 {
    height: 160px;
  }

  .timeline-item.right._101 {
    height: 120px;
  }

  .timeline-item.right._201 {
    height: 160px;
  }

  .timeline-item.left._10 {
    height: 90px;
  }

  .timeline-item.left-2 {
    height: 45px;
  }

  .timeline-item.left.large.semi {
    height: 200px;
  }

  .timeline-item.left.large.semi._20 {
    margin-bottom: -2px;
  }

  .timeline-item.left._150 {
    height: 230px;
  }

  .timeline-item.left._8 {
    margin-bottom: 73px;
  }

  .timeline-item.left._81 {
    margin-bottom: 235px;
  }

  .timeline-item.left._83 {
    margin-bottom: -104px;
  }

  .timeline-item.left._996 {
    margin-bottom: 36px;
  }

  .timeline-item.left.large-2x {
    height: 380px;
  }

  .timeline-item.large.semi {
    width: 100%;
    height: 210px;
  }

  .timeline-item.large.semi._1 {
    height: 305px;
    margin-bottom: -19px;
  }

  .timeline-item.large._350h {
    height: 370px;
  }

  .timeline-item.large._350h._1 {
    height: 420px;
  }

  .timeline-item.large._350h._90 {
    height: 420px;
    margin-bottom: -67px;
  }

  .timeline-item.large-2x {
    height: 500px;
  }

  .timeline-item._200h {
    height: 225px;
  }

  .timeline-item._120 {
    height: 105px;
  }

  .timeline-item._180h {
    height: 190px;
  }

  .timeline-item._180h._90 {
    height: 180px;
  }

  .timeline-item._180h._999copy {
    height: 180px;
  }

  .timeline-item._1 {
    height: 90px;
  }

  .timeline-item._1._10 {
    margin-bottom: 222px;
  }

  .timeline-item._3 {
    height: 105px;
  }

  .timeline-item._4 {
    height: 120px;
  }

  .timeline-item._14 {
    height: 230px;
    margin-bottom: 4px;
  }

  .timeline-content-wrapper {
    width: 45%;
    font-size: 12px;
  }

  .timeline-text {
    margin-left: auto;
    font-size: 0.8em;
  }

  .timeline-text.left {
    max-width: none;
    margin-right: 0px;
    font-size: 1.2em;
  }

  .timeline-text.left.large-2x {
    left: 126px;
    top: -63px;
  }

  .timeline-text.right {
    margin-left: 0px;
    font-size: 1.2em;
  }

  .dot-nuke {
    left: -33.8px;
  }

  .timeline-track {
    height: 1800px;
  }

  .timeline-track._2 {
    bottom: 59px;
    height: 2440px;
  }

  .timeline-track.mini {
    left: 23px;
    bottom: 102px;
  }

  .page-wrapper {
    display: block;
    width: 568px;
    max-width: 568px;
    min-width: 320px;
  }

  .image-right {
    left: 19px;
    width: 170px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .grid {
    width: auto;
  }

  .dot-pol {
    right: -33.8px;
  }

  .dot-pol.large-2x {
    left: 217px;
    top: 39px;
    right: 0px;
  }

  .heading-4 {
    position: relative;
    left: 20px;
    font-size: 25px;
    text-align: right;
    white-space: nowrap;
  }

  .heading-5 {
    position: relative;
    left: -28px;
    font-size: 25px;
    text-align: left;
    white-space: nowrap;
  }

  .textbox-administration.blue {
    bottom: -3px;
  }

  .image.large-2x {
    left: -22px;
    top: 54px;
    z-index: 7;
  }
}

@media screen and (max-width: 479px) {
  .timeline-month {
    font-size: 1.7em;
  }

  .timeline-month.left {
    left: 16px;
    bottom: -1px;
    width: 90px;
    margin-bottom: 7px;
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 1.2em;
  }

  .timeline-month.left.long {
    left: 10px;
    bottom: -1px;
    width: auto;
    padding-right: 14px;
    padding-bottom: 12px;
    font-size: 1.2em;
  }

  .timeline-month.left.large-2x {
    left: 59px;
    top: 15px;
    bottom: auto;
    text-align: center;
  }

  .timeline-month.right {
    left: -13px;
    bottom: -1px;
    width: 90px;
    padding-left: 0px;
    font-size: 1.2em;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container.flex-verticle {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .timeline-item {
    height: 150px;
  }

  .timeline-item.right {
    height: 100px;
    margin-bottom: -20px;
  }

  .timeline-item.right._2 {
    height: 125px;
  }

  .timeline-item.right._101 {
    display: none;
    height: 180px;
    margin-bottom: -90px;
  }

  .timeline-item.right._201 {
    height: 135px;
  }

  .timeline-item.right._50 {
    margin-bottom: 183px;
  }

  .timeline-item.right._66 {
    margin-bottom: 64px;
  }

  .timeline-item.right._60 {
    margin-bottom: 35px;
  }

  .timeline-item.right._999 {
    margin-bottom: -155px;
  }

  .timeline-item.right._110 {
    margin-bottom: -1px;
  }

  .timeline-item.left._10 {
    display: none;
    height: 60px;
    margin-bottom: -63px;
  }

  .timeline-item.left._11 {
    height: 90px;
    margin-bottom: -1px;
  }

  .timeline-item._2 {
    height: 40px;
  }

  .timeline-item.left-2 {
    height: 20px;
    margin-bottom: 35px;
  }

  .timeline-item.left {
    height: 150px;
    padding-right: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .timeline-item.left.large.semi {
    height: 140px;
  }

  .timeline-item.left.large.semi._20 {
    margin-bottom: 2px;
  }

  .timeline-item.left._150 {
    height: 110px;
  }

  .timeline-item.left._150._1 {
    margin-bottom: 29px;
  }

  .timeline-item.left._9 {
    margin-bottom: 25px;
  }

  .timeline-item.left._1._90 {
    margin-bottom: -18px;
  }

  .timeline-item.left._81 {
    margin-bottom: 382px;
  }

  .timeline-item.left._83 {
    margin-bottom: -94px;
  }

  .timeline-item.left._996 {
    height: 60px;
    margin-bottom: -6px;
  }

  .timeline-item.left.large-2x {
    height: 400px;
  }

  .timeline-item.left._965 {
    margin-bottom: -2px;
  }

  .timeline-item.large {
    height: 430px;
  }

  .timeline-item.large.semi {
    height: 170px;
  }

  .timeline-item.large.semi._1 {
    height: 220px;
    margin-bottom: 5px;
  }

  .timeline-item.large.semi._201 {
    height: 180px;
    margin-bottom: -2px;
  }

  .timeline-item.large._350h {
    height: 465px;
  }

  .timeline-item.large._350h._1 {
    height: 350px;
    margin-bottom: -38px;
  }

  .timeline-item.large._350h._90 {
    height: 370px;
    margin-bottom: 71px;
  }

  .timeline-item.large-2x {
    height: 300px;
    margin-bottom: -35px;
  }

  .timeline-item._200h {
    height: 290px;
    margin-bottom: -4px;
  }

  .timeline-item._120 {
    width: auto;
    height: 130px;
  }

  .timeline-item._180h {
    height: 220px;
  }

  .timeline-item._180h._90 {
    height: 240px;
    margin-bottom: -4px;
  }

  .timeline-item._180h._201 {
    height: 225px;
    margin-bottom: 24px;
  }

  .timeline-item._180h._999copy {
    height: 240px;
    margin-bottom: -4px;
  }

  .timeline-item._1 {
    height: 110px;
    margin-bottom: 26px;
  }

  .timeline-item._1._10 {
    margin-bottom: 225px;
  }

  .timeline-item._3 {
    height: 115px;
    margin-bottom: -3px;
  }

  .timeline-item._4 {
    height: 135px;
    margin-bottom: -10px;
  }

  .timeline-item._14 {
    width: auto;
    height: 240px;
    margin-bottom: 4px;
  }

  .text-center.relative {
    top: -67px;
    height: auto;
  }

  .timeline-content-wrapper {
    grid-column-gap: 8px;
    grid-row-gap: 15px;
  }

  .timeline-text {
    margin-right: -1px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 9px;
    font-size: 1em;
  }

  .timeline-text.left {
    left: -5px;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1em;
  }

  .timeline-text.left.large-2x {
    position: relative;
    left: 79px;
    top: -6px;
    z-index: 7;
    max-width: none;
    margin-left: auto;
    padding: 18px 0px 50px;
    font-size: 1em;
  }

  .timeline-text.right {
    position: relative;
    left: 6px;
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1em;
  }

  .timeline-text.small {
    font-size: 1em;
  }

  .timeline-text.small.right {
    width: 110%;
    margin-right: -13px;
  }

  .timeline-text.large.right {
    margin-right: 0px;
  }

  .new-section {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  .dot-nuke {
    left: -24.2px;
    top: -9.3px;
    width: 20px;
    height: 20px;
  }

  .timeline-track {
    bottom: 21px;
    width: 3px;
    height: 1850px;
  }

  .timeline-track._2 {
    bottom: 86px;
    height: 2620px;
  }

  .timeline-track.mini {
    left: 15.2px;
    top: -67px;
    bottom: 9px;
    z-index: 8;
    display: block;
    width: 1px;
  }

  .menu-link-wrapper._1 {
    margin-right: 30px;
  }

  .timeline-wrapper {
    width: 93%;
    margin-top: -53px;
  }

  .page-wrapper {
    overflow: hidden;
    width: 350px;
    height: 4800px;
    max-width: 400px;
    min-width: 320px;
    margin-top: -19px;
  }

  .image-right {
    left: 2px;
    width: 120px;
    height: auto;
    margin-right: 6px;
    margin-left: 3px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .grid {
    overflow: visible;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    font-size: 12px;
    text-align: center;
  }

  .dot-pol {
    top: -9px;
    right: -24.2px;
    width: 20px;
    height: 20px;
  }

  .dot-pol.large-2x {
    position: relative;
    left: 25px;
    top: -3%;
    right: 0px;
    z-index: 10;
  }

  .heading-4 {
    position: relative;
    left: -15px;
    display: block;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    direction: ltr;
    font-size: 14.5px;
    line-height: 20px;
    text-align: right;
    text-transform: none;
    white-space: nowrap;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .heading-5 {
    position: relative;
    left: 17px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14.5px;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
  }

  .textbox-administration {
    font-size: 12px;
    font-weight: 400;
  }

  .trump-admin-box {
    top: -55px;
  }

  .line-div-top.blue {
    left: 146px;
    top: -199px;
  }

  .line-div-top.blue._1 {
    border-top-style: none;
  }

  .image.large-2x {
    left: 3px;
    top: 133px;
    z-index: 9;
    width: 300px;
  }
}

#w-node-_23d7793e-4c72-4d24-99f4-9de4f7219781-cbff0cc5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 9;
  grid-row-start: span 9;
  -ms-grid-row-span: 9;
  grid-row-end: span 9;
}

#w-node-_23d7793e-4c72-4d24-99f4-9de4f721978e-cbff0cc5 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_9d10d80a-68c4-6bce-994d-bdfb7a871e8c-cbff0cc5 {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-b892f79a-963e-7a2a-4b8e-84f386ae7861-cbff0cc5 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f7c1b899-3ec9-fb84-e98e-a384d2bac1bd-cbff0cc5 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f2bf5ed8-4966-a9f5-a379-00942c738e2f-cbff0cc5 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_46946888-5f5a-4321-f942-431228553cf4-cbff0cc5 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-c9f1e879-4d28-d431-a61d-b8a89e986ab0-cbff0cc5 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_9d10d80a-68c4-6bce-994d-bdfb7a871e8c-cbff0cc5 {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  #w-node-b892f79a-963e-7a2a-4b8e-84f386ae7899-cbff0cc5 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_23d7793e-4c72-4d24-99f4-9de4f721974d-cbff0cc5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

